<html>
  <head>
    <meta charset="UTF-8" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <script
      crossorigin
      src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react@16.13.0/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@16.13.0/umd/react-dom.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/eventemitter3@5.0.0/dist/eventemitter3.umd.js"
    ></script>

    <script type="text/babel" src="promise.rpc.dist.min.js"></script>

    <!-- The script tag below will force the browser to ignore the it, but the "babel-standalone" tool above will parse this as ES6/JSX -->
    <script type="text/babel">
      /*********************************
       * Application
       *********************************/

      // dirty Hack
      let _setApi = () => {}

      // we don't use the "import", or "require" syntax, as the above linked scripts have injected themselves into the 'global' namespace
      const { useState, createContext, useContext, useEffect } = React;
      const ApiContext = createContext();

      function Task({ task, updateTask, deleteTask }) {
        return (
          <div>
            <span
              style={{
                textDecoration: task.completed ? "line-through" : "",
              }}
            >
              {task.label}
            </span>
            <button onClick={() => updateTask(task.id, {completed:!task.completed})}>{task.completed ? "↺" : "✓"}</button>
            <button onClick={() => deleteTask(task.id)}>✕</button>
          </div>
        );
      }

      function TaskList({ tasks, children }) {
        return <div>{tasks.map(children)}</div>;
      }

      function TaskCreator({ createTask }) {
        const [label, setLabel] = useState("");
        return (
          <div>
            <input
              value={label}
              onChange={(e) => setLabel(e.currentTarget.value)}
            />
            <button onClick={() => createTask(label)}>Add Task</button>
          </div>
        );
      }

      function App() {
        const api = useContext(ApiContext);
        const [tasks, setTasks] = useState([]);

        const createTask = label => api.createTask(label).then(setTasks);

        const updateTask = (id, data) => api.updateTask(id, data).then(setTasks);

        const deleteTask = (id) => api.deleteTask(id).then(setTasks);

        useEffect(() => {
          api.getTasks().then(setTasks);
        }, [api]);

        useEffect(() => {
          api.on('update', setTasks);
          return () => {
            api.off('update');
          }
        }, []);
        
        return (
          <div className="App">
            <TaskCreator createTask={createTask} />
            <TaskList tasks={tasks}>
              {(task, i) => (
                <Task key={task.id} task={task} updateTask={updateTask} deleteTask={deleteTask} />
              )}
            </TaskList>
          </div>
        );
      }

      function AppRoot() {
        const [api, setApi] = useState(null);
        _setApi = (api) => {
          setApi(api);
        };
                
        return (
          <ApiContext.Provider value={api}>
            {api && <App />}
          </ApiContext.Provider>
        );
      }

      ReactDOM.render(<AppRoot />, document.getElementById("App"));

      /*********************************
       * Websocket promise.rpc
       *********************************/

      function connect(closeHandler) {
        return new Promise((resolve, reject) => {
          const ws = new WebSocket("ws://localhost:3005/", 'api');
          ws.onopen = () => {
            let api = new EventEmitter3();

            const apiStream = new PromiseRPC.PromiseRPCStream({
              update(data) {
                api.emit('update', data);
              }              
            });                        
            apiStream.on("data", (message) => {
              ws.send(JSON.stringify(message));
            });

            ws.onmessage = (evt) => {
              apiStream.write(JSON.parse(evt.data));
            };

            ws.onclose = function () {
              apiStream.destroy();
            };

            Object.assign(api, {
              getTasks() {
                return apiStream.request("getTasks");
              },
              createTask(message) {
                return apiStream.request("createTask", [message]);
              },
              updateTask(task, completed) {
                return apiStream.request("updateTask", [task, completed]);
              },
              deleteTask(task) {
                return apiStream.request("deleteTask", [task]);
              },

              subscribe(id, cb)  {
                return apiStream.request("subscribe", [id]);
              }
            });

            // give access to current api to console debugger;
            window._api = api;
            window._apiStream = apiStream;

            resolve(api);
          };
        });
      }

      function handleConnection() {
        _setApi(null);
        connect(handleConnection).then((api) => {
          return api
        }).then(_setApi);
      }

      handleConnection();
    </script>
  </head>
  <body>
    <div id="App"></div>
  </body>
</html>
